html{
    background-color: rgb(194, 200, 198);
}

picture {
    display:flex;
    flex-direction: column;
    align-items: center;
}

picture img{
    border-radius: 1rem;
    box-shadow: 6px 6px 4px  rgb(59, 59, 59);
}

.desactivado{
    opacity: 0.3;
}

picture span{
    font-size: 2rem;
}

#encabezado{
    text-align: center;
}

#app{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}